<!doctype html>
<html lang="en">
{% load static %}
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../../../favicon.ico">

    <title>Andy Fordjour</title>

    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
  </head>

  <body>

    <main role="main">

      <section class="jumbotron text-center">
        <div class="container">
          <h1 class="jumbotron-heading">Andy Fordjour</h1>
          <p class="lead text-muted">I love programming and Django in particular!</p>
          <p>
            <a href="mailto:babavoocole@gmail.com" class="btn btn-primary my-2">Email Me</a>
          </p>
          <img src="{% static 'andy.jpg' %}" height="300" />
        </div>
      </section>

      <section class="jumbotron text-center">
        <div class="container">
            <h1 class="jumbotron-heading">PROFESSIONAL SUMMARY</h1>
            <p class="lead text-muted">
                Experienced Python Django Developer with a robust background in developing dynamic web applications and APIs. 
                Proficient in full-stack development, specializing in Django and RESTful APIs, with strong knowledge of databases such as PostgreSQL, MySQL, and SQLite. 
                Skilled in containerizing applications using Docker and enhancing frontend interfaces with HTML, CSS, and JavaScript in Bootstrap. 
                A problem solver with a passion for building scalable and maintainable applications.
            </p>
            <br/>
            <hr>
            <h3 class="mt-4">Technical Skills</h3>
            <ul class="list-inline text-left" style="font-size: 1.25rem;">
                <li class="list-inline-item"><strong>Languages:</strong> Java, Bash, Python</li>
                <br/>
                <li class="list-inline-item"><strong>Frameworks:</strong> Django, Django REST Framework, Flask</li>
                <br/>
                <li class="list-inline-item"><strong>Databases:</strong> JDBC, JavaFX, PostgreSQL, MySQL, SQLite</li>
                <br/>
                <li class="list-inline-item"><strong>Containerization:</strong> Docker, Kubernates</li>
                <br/>
                <li class="list-inline-item"><strong>Web Technologies:</strong> HTML, CSS, JavaScript, Bootstrap</li>
                <br/>
                <li class="list-inline-item"><strong>Version Control:</strong> Git, GitHub, Bitbucket</li>
                <br/>
                <li class="list-inline-item"><strong>Deployment:</strong> Terraform, AWS,</li>
            </ul>
        </div>
    </section>
    
      <div class="album py-5 bg-light">
        <div class="container">

          <div class="row">

            <div class="col-md-4">
              <a href="{% url 'api_project' %}">
              <div class="card mb-4 box-shadow">
                <img class="card-img-top" src="{% static 'code.jpg' %}" alt="Job 1 Image">
                <div class="card-body">
                  <p class="card-text">Job 1 Summary</p>
                </div>
              </div>
              </a>
            </div>

            <div class="col-md-4">
              <a href="https://example.com/job2-summary">
              <div class="card mb-4 box-shadow">
                <img class="card-img-top" src="{% static 'api_1.jpg' %}" alt="Job 2 Image">
                <div class="card-body">
                  <p class="card-text">Job 2 Summary</p>
                </div>
              </div>
              </a>
            </div>

            <div class="col-md-4">
              <a href="https://example.com/job3-summary">
              <div class="card mb-4 box-shadow">
                <img class="card-img-top" src="{% static 'littlelemon_1.jpg' %}" alt="Job 3 Image">
                <div class="card-body">
                  <p class="card-text">Job 3 Summary</p>
                </div>
              </div>
              </a>
            </div>

          </div>

        </div>
      </div>

    </main>

    <script src="{% static 'js/bootstrap.js' %}" ></script>
    <script src="{% static 'jquery-3.3.1.min.js' %}" ></script>
  </body>
</html>
